/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.threedee {
  @apply border-[2px] border-l-white border-t-white border-r-word-gray-dark border-b-word-gray-dark;
}
.basic-shadow {
  box-shadow: 1px 1px 0px black;
}
